$color-white: #FFF;
$color-black: #000;
$breakpoint-sm: 576px;
$breakpoint-md: 768px;
$breakpoint-md-large: 992px;
$breakpoint-lg: 1200px;
$breakpoint-xl: 1440px;
$breakpoint-xxl: 1920px;
$font-size-regular: 16px;
